@{
    ViewData["Title"] = "Movie Submitted";
}

@model ApplicationResponse

<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

<h2>@Model.Title was added to the database. Use the Navbar above to add another movie or return home.</h2>
<h3>Thank you!</h3>
<br />
<br />
<br />
<h3>Here's a picture of a doggo for doing a good job</h3>
<img src="~/img/doggo.jpg" width="1000"/>


