@{
    ViewData["Title"] = "Movie Submitted";
}

@model ApplicationResponse

<h2>@Model.Title was added to the database. Use the Navbar above to add another movie or return home.</h2>
<h3>Thank you!</h3>
<br />
<br />
<br />
<h3>Here's a screenshot of the sqlite database before pushing to github</h3>
<h3>(Please tell Prof Anderson to return my movie...)</h3>
<img src="~/img/sqlite-screenshot.png" width="1000"/>


