@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>Welcome to The Joel Hilton Film Collection! Here, we like movies. Do you?</h1>
<br />
<img src="~/img/JoelHiltonHeadshot.jpg" width="500"/>
